.title {
  display: flex;
  text-align: center;
  padding-top: 10px;
  font-family: Consolas;
  font-weight: bold;
  color: rgb(81, 65, 79);
  margin-left: 20%;
  /* border-bottom-width: 10px; */
}

.sideBarComponent{
  position: fixed;

}

@media (max-width:411px) {
.sideBarComponent{
  visibility: hidden;
}  
}
.imgBar{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  margin-left: 100px;
  margin-top: -30px;
  border: white 5px solid;
}
.words {
  text-align: start;
  margin-top: 10%;
  display: grid;
  padding-left: 5%;
  background-color: #ff092e;
  height: 700px;
  width: 285px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
 
  
  /* row-gap: 30px; */
 
}

.icons {
  font-size: 17px;
  width: auto;
  padding-left: 32%;
  padding: 5px;
  color: white;
  font-family: Consolas;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  
}

.icon {
  margin-right: 10px;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.info{
  margin-top: 7px;
}

/* .icons:hover {
  color: rgb(4, 55, 242);
} */

/* .icon:hover {
 
  color: rgb(4, 55, 242);
} */

/*Phone */
.headerPhone{
  width: 360px;
  height: 80px;
  background-color: #ff092e;
  /* visibility: hidden; */
  display: none;
  gap: 100px;
}

@media (max-width:411px) {
  .headerPhone{
    /* visibility: visible; */
    display: flex;
  }

  /*--------------------------------------------------*/
  .sideBarComponent{
    display: none;
  }
}