.titleC {
  padding-top: 50px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(72, 50, 72);
  font-family: Consolas;

}

.conatctDetails {
  display: flex;
  gap: 100px;

}
.contact{
  display: grid;
  gap: 150px;
  margin-bottom: 50px;
  margin-left: 25px;
}
@media (max-width:411px) {
  .contact{
    display: grid;
    gap: 0px;
  }
  .conatctDetails{
    display: grid;
    margin-top: 100px;
  }
  
}

.DetailsC {
  width: 300px;
  height: 250px;
  /* border: tomato solid 2px; */
  text-align: center;
  font-family: Consolas;
}

.iconsC {
  font-size: 40px;
  color: #ff092e;
}

.deta {
  color: gray;
  margin-top: 20px;
}

.titleDetails {
  margin-top: 30px;
  font-weight: bold;
  font-family: Consolas;
  font-size: 18px;
}
